body{
    background: #3b3b3b;
    margin: 0px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slide-show{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    padding: 0rem 1rem;
}	
.showcase .logoNav{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}


.carousel-item img{
    border: 1px solid #f4f4f4;
}

.nav{
    margin-top: 30px;
}

.nav a:hover{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 245, 155);

}

.logo{
    float: left;
    height: auto;
    width: 100px;
    border-radius: 7px;
    margin: .5rem 2rem;
    
}

.nav-link{
    color: #f4f4f4;
}

.nav-link:hover{
    color: #f4f4f4;
}

.anmeldenbox{
    float: right;
    position: relative;
    top: -30px;
    margin-right: 30px;
}

.btSlider{
    position: relative;
    margin-top: 0;
}

.carousel-caption{
    position: relative;
    top:0px;
    left: 0px;
    padding-bottom: 0;
}


section{
    margin: 2rem 0;
}

details{
    font-size: 1rem;
}

.grid-3{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;    
}


.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 2rem 1rem;
}

.instaImg{
    max-width: 60%;
    height: auto;
}

.center{
    text-align: center;
    margin: auto;
    
}

.bg-light{
    background-color: #f4f4f4;
    color: #3b3b3b;
}

.bg-light a{
    text-decoration: none;
    color: rgb(0, 168, 247);
}
.bg-light a:hover{
    text-decoration: none;
    color: rgb(0, 168, 247);
}

.fab, .fas{
    color: #3b3b3b;
}

.fa-stamp{
    color: #f4f4f4;

}

section .fa-3x:hover, .fa-3x:hover, footer .fa-2x:hover {
    color: rgb(0, 168, 247);
}

.imprint h3, #neuigkeiten h3{
    color: rgb(255, 245, 155);
}

.imprint a, #neuigkeiten a{
    color: rgb(255, 245, 155);
    text-decoration: none;
}

.sozial-nezwerk{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sozial-nezwerk li{
    display: inline;
    margin: 5px;
}

.folgenText{
    margin-bottom: 10px;
}

.iHome{
    color: #3b3b3b;
}

.iHome, .copyRight{
    margin: 0;
}

footer{
    padding: 2rem;
}

footer p{
    margin: 0;
}

/* small screen */
@media(max-width: 830px){
    .showcase::after{
        height: 4vh;
    }
 
    .content .logo{
        width:35%;
    }

    .btSlider{
        display: none;
    }

    .grid-3, .grid-2{
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }

    .services div{
        border-bottom:rgb(114, 114, 114) dashed 1px;
    }

    .nav{
        display: none;
    }

    .logo{
        position: relative;
        width: 170px;
        top: 20px;
        left: 33%; 
    }

    .anmeldenbox{
        display: none;
    }
}

@media(max-width: 420px){
    .logo{
        left: 23%;    
}
}
@media(max-width: 380px){
    .logo{
        left: 20%;    
}
}
@media(max-width: 325px){
    .logo{
        left: 15%;    
}
}

